<div class="container productListCSS">
 <h5 class="light-blue-text text-darken-4 center-align">{{productlistPageTitle}}</h5>
 <div class="row">
        <div class="input-field col s8 inline" >
          <label for="filterBy" class="col s2 red-text text-darken-4">Filter By :</label>
          <input id="filterBy" type="text"  class="col s6 offset-s6" [(ngModel)]='listFilter' [style.margin-left.%]='filterByLabel'> 
          
        </div>
  </div>
 <table class="bordered highlight" *ngIf='products && products.length' >
        <thead>
          <tr>
              <th><button class="waves-effect waves-teal btn-flat" (click)='showImage()'>{{showImageFlag?'Hide':'Show'}} Image</button></th>
              <th>Product</th>
              <th>Product Code</th>
              <th>Available</th>
              <th>Item Price</th>
              <th>Rating</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor='let product of products | productListFilter:listFilter'>
            <td><img *ngIf='showImageFlag' [src]='product.imageUrl' alt='product.productName' [title]='product.productName' [style.width.px]='imageWidth' [style.margin.px]='imageMargin'></td>
            <td><a [routerLink]="['/products',product.productId]">{{product.productName}}</a></td>
            <td>{{product.productCode | lowercase}}</td>
            <td>{{product.releaseDate}}</td>
            <td>{{product.price | currency:'USD':true:'1.2-2'}}</td>
            <!--<td>{{product.starRating}}</td> -->
            <td><app-star [productName]='product.productName' [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'></app-star></td>
          </tr>
        </tbody>
      </table>
</div>     